<br>
<div class="StatBubbles">
    <ul>
        <li><span class="Bubble">Strength: {{stats.strength}} (+{{statsmod.strength}})</span></li>
        <li><span class="Bubble">Dexterity: {{stats.dexterity}} (+{{statsmod.dexterity}})</span></li>
        <li><span class="Bubble">Constitution: {{stats.constitution}} (+{{statsmod.constitution}})</span></li>
        <li><span class="Bubble">Intelligence: {{stats.intelligence}} (+{{statsmod.intelligence}})</span></li>
        <li><span class="Bubble">Wisdom: {{stats.wisdom}} (+{{statsmod.wisdom}})</span></li>
        <li><span class="Bubble">Charisma: {{stats.charisma}} (+{{statsmod.charisma}})</span></li>
    </ul>
</div>
