<br>
<div class="StatBubbles">
    <ul>
        <li><span class="Bubble">Strength: {{stats.strength}}</span></li>
        <li><span class="Bubble">Dexterity: {{stats.dexterity}}</span></li>
        <li><span class="Bubble">Constitution: {{stats.constitution}}</span></li>
        <li><span class="Bubble">Intelligence: {{stats.intelligence}}</span></li>
        <li><span class="Bubble">Wisdom: {{stats.wisdom}}</span></li>
        <li><span class="Bubble">Charisma: {{stats.charisma}}</span></li>
    </ul>
</div>
