.Bubble {
    margin: 10px;
    text-align: center;
    border: 3px outset #a9a9a9;
    margin-bottom: 100px;
    padding: 1em;
    float: right;
    background-color: #c9c3c3;
}

div{
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}