<br>
<div class="StatBubbles">
    <ul>
        <li><span class="Bubble">Strength: {{stats.strength}} (+{{stats.strengthmod}})</span></li>
        <li><span class="Bubble">Dexterity: {{stats.dexterity}} (+{{stats.dexteritymod}})</span></li>
        <li><span class="Bubble">Constitution: {{stats.constitution}} (+{{stats.constitutionmod}})</span></li>
        <li><span class="Bubble">Intelligence: {{stats.intelligence}} (+{{stats.intelligencemod}})</span></li>
        <li><span class="Bubble">Wisdom: {{stats.wisdom}} (+{{stats.wisdommod}})</span></li>
        <li><span class="Bubble">Charisma: {{stats.charisma}} (+{{stats.charismamod}})</span></li>
    </ul>
</div>
