<br>
<div class="StatBubbles">
    <ul>
        <li><span class="Bubble">Strength: {{playerStats.strength}} ({{calculateModifier(playerStats.strength)}})</span></li>

        <li><span class="Bubble">Dexterity: {{playerStats.dexterity}} ({{calculateModifier(playerStats.dexterity)}})</span></li>

        <li><span class="Bubble">Constitution: {{playerStats.constitution}} ({{calculateModifier(playerStats.constitution)}})</span></li>

        <li><span class="Bubble">Intelligence: {{playerStats.intelligence}} ({{calculateModifier(playerStats.intelligence)}})</span></li>

        <li><span class="Bubble">Wisdom: {{playerStats.wisdom}} ({{calculateModifier(playerStats.wisdom)}})</span></li>

        <li><span class="Bubble">Charisma: {{playerStats.charisma}} ({{calculateModifier(playerStats.charisma)}})</span></li>
    </ul>
</div>
