<app-stats-bubble></app-stats-bubble>
<app-initiative></app-initiative>
<div *ngIf="!selectedCharacter">
    <app-main-page (confirmCharacter)="selectCharacter($event)"></app-main-page> <!-- When no character is officially selected (selected and passed security), show the character selection page -->
</div>
<div *ngIf="selectedCharacter">
    <div *ngIf="selectedCharacter=='new'">
        <app-player-creation (create)="selectCharacter($event)"></app-player-creation> <!-- When the "Create New Character" option has been selected, show the player creation screen. Remember to set selectedCharacter at end of creation. -->
    </div>
    <div *ngIf="selectedCharacter!='new'">
        <app-character-view [character]="selectedCharacter"></app-character-view> <!-- When a character has been selected and security has been passed, open that character's page. -->
    </div>
</div>