<div class="hitdice">
    <ul>
        <li><span>{{currentDice.hitDiceD6}} D6 | Max: {{maxDice.hitDiceD6}}     </span> <button type="button" (click)="useD6()">Use D6</button></li>
        <li><span>{{currentDice.hitDiceD8}} D8 | Max: {{maxDice.hitDiceD8}}     </span> <button type="button" (click)="useD8()">Use D8</button></li>
        <li><span>{{currentDice.hitDiceD10}} D10 | Max: {{maxDice.hitDiceD10}}  </span> <button type="button" (click)="useD10()">Use D10</button></li>
        <li><span>{{currentDice.hitDiceD12}} D12 | Max: {{maxDice.hitDiceD12}}  </span> <button type="button" (click)="useD12()">Use D12</button></li>
        <li><button type="button" (click)="resetDice()">Reset Dice</button></li>
    </ul>
</div>
