<div style="position: fixed; top:0px; left:0px; height: 100%; width: 100%; background-color: var(--c-fg2t);"> <!--(click)="clickOff()"-->
    <div style="display:flex; justify-content: center; align-items: center;">
        <div style="background-color: var(--c-bg3); width: 40%; color:var(--c-fg1); padding:10px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);">
            <button (click)="clickOff()" style="top:0px;right:0px;float:right;color:white;background-color: red;">X</button><br>
            <span style="white-space: pre;"><p>{{display}}</p></span><br>
            <input [(ngModel)]="textbox" style="width:80%;margin:auto;" (keyup.enter)="enter()" (keyup.escape)="clickOff()"/><button (click)="enter()" style="top:0px;right:0px;float:right;">Enter</button>
        </div>
    </div>
</div>