.Bubble {
    margin: 10px;
    text-align: center;
    border: 2px solid lightcoral;
    margin-bottom: 100px;
    padding: 1em;
    float: left;
}

div{
    margin-bottom: 50px;
    margin-left: 40px;
}