<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <a href="./header.component.css"></a>
</head>
<body>
    <div class="header">
        <p>Character Name: </p>
    </div>
    
    <div class="header">
        <p>Player Name: </p>
    </div>

    <div class="header">
        <p>Player Level: </p>
    </div>

    <div class="header">
        <p>Player Hit Points: </p>
    </div>

    <div class="header">
        <p>Player Class: </p>
    </div>

    <div class="header">
        <p>Player Race: </p>
    </div>

    <div class="header">
        <p>Character Alignment: </p>
    </div>

    <div class="header">
        <p>Experience: </p>
    </div>
</body>
</html>
