<div class="header">
    <p>Character Name: </p>
</div>

<div class="header">
    <p>Player Name: </p>
</div>

<div class="header">
    <p>Player Level: </p>
</div>

<div class="header">
    <p>Player Hit Points: </p>
</div>

<div class="header">
    <p>Player Class: </p>
</div>

<div class="header">
    <p>Player Race: </p>
</div>

<div class="header">
    <p>Character Alignment: </p>
</div>

<div class="header">
    <p>Experience: </p>
</div>

<div class="tabs">
    <button (click)="setTab('Stats')">Stats</button>
    <!-- <button (click)="setTab('Inventory')">Inventory</button> -->
    <button (click)="setTab('Class')">Class</button>
    <button (click)="setTab('Bio')">Bio</button>
    <!-- <button>Other Stuff</button> -->
</div>