<input [(ngModel)]="name" placeholder="Character Name..." /> <div><button (click)="selectTab('Class')">Class</button><button (click)="selectTab('Race')">Race</button><button (click)="selectTab('Background')">Background</button></div>
<div *ngIf="selectedTab=='Class'">
    <div style="height:100px;width:100px;"><app-listbox [itemList]="Classes" [selectedItem]="selectedClass" (onSelect)="selectClass($event)"></app-listbox></div>
    <div>Selected Class Details: {{selectedClass}}</div>
    Proficiencies: <app-item-selector [amount]=4 [options]="['Acrobatics', 'Athletics', 'Deception', 'Insight', 'Intimidation', 'Investigation', 'Perception', 'Performance', 'Persuasion', 'Sleight of Hand', 'Stealth']"></app-item-selector>
</div>
<div *ngIf="selectedTab=='Race'">
    <div style="height:100px;width:100px;"><app-listbox [itemList]="Races" [selectedItem]="selectedRace" (onSelect)="selectRace($event)"></app-listbox></div>
    <div>Selected Race Details: {{selectedRace}}</div>
</div>
<div *ngIf="selectedTab=='Background'">
    <div style="height:100px;width:100px;"><app-listbox [itemList]="Backgrounds" [selectedItem]="selectedBackground" (onSelect)="selectBackground($event)"></app-listbox></div>
    <div>Selected Background Details: {{selectedBackground}}</div>
</div>
Alignment:<app-item-selector [amount]=1 [options]="['Lawful Evil', 'Lawful', 'Lawful Good', 'Evil', 'Neutral', 'Good', 'Chaotic Evil', 'Chaotic', 'Chaotic Good']" (submit)="setAlign($event[0])"></app-item-selector>
<button *ngIf="readyToMake && name" (click)="makeChar()">Next</button>