<input [(ngModel)]="playerName" placeholder="Player Name..." />
<input [(ngModel)]="name" placeholder="Character Name..." /> <div><button (click)="selectTab('Class')">Class</button><button (click)="selectTab('Race')">Race</button><button (click)="selectTab('Background')">Background</button></div>
<div *ngIf="selectedTab=='Class'">
    <div style="height:100px;width:100px;"><app-listbox [itemList]="Classes" [selectedItem]="selectedClass" (onSelect)="selectClass($event)"></app-listbox></div>
    <div *ngIf="selectedClass">
        Selected Class Details: {{selectedClass}}
        Proficiencies: <app-item-selector (submit)="updateProfs($event)" [amount]=4 [default]="proficiencies" [options]="['Acrobatics', 'Athletics', 'Deception', 'Insight', 'Intimidation', 'Investigation', 'Perception', 'Performance', 'Persuasion', 'Sleight of Hand', 'Stealth']"></app-item-selector>
    </div>
    
</div>
<div *ngIf="selectedTab=='Race'">
    <div style="height:100px;width:100px;"><app-listbox [itemList]="Races" [selectedItem]="selectedRace" (onSelect)="selectRace($event)"></app-listbox></div>
    <div>Selected Race Details: {{selectedRace}}</div>
</div>
<div *ngIf="selectedTab=='Background'">
    <div style="height:100px;width:100px;"><app-listbox [itemList]="Backgrounds" [selectedItem]="selectedBackground" (onSelect)="selectBackground($event)"></app-listbox></div>
    <div>Selected Background Details: {{selectedBackground}}</div>
</div>
<div>
    Alignment:<app-item-selector [amount]=1 [options]="['Lawful Evil', 'Lawful', 'Lawful Good', 'Evil', 'Neutral', 'Good', 'Chaotic Evil', 'Chaotic', 'Chaotic Good']" (submit)="setAlign($event[0])"></app-item-selector>
<button *ngIf="readyToMake && name && playerName && playerName!='player'" (click)="makeChar()">Next</button>
<p *ngIf="playerName && playerName=='player'">playerName can't be player, sorry, that's a reserved value.</p>
</div>